# --- ROS 2 ---
install/
build/
log/
*/__pycache__/

# --- Unity ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# --- Python / Virtual Env ---
venv/
env/
.env

# --- CLAUDE ---
CLAUDE.md

